:root {
    --block: rgb(38, 36, 35);
    --background: rgb(23, 22, 21);
    --greenlight: rgb(134, 213, 98);
    --green: rgb(60, 133, 39);
    --greendark: rgb(44, 91, 33);
    --yellow: rgb(255, 196, 44);
    --ui: rgb(61, 57, 56);
}